.container {
    background-color: gainsboro;
    margin: 3rem;
    padding: 2rem;
    border: 2px solid gray;
    //text-align: center;
}

#contenedor {
    width: 1200px;
    height: 1000px;
    background-color: #d8d8d8;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header {
    height: 20%;
    background-color: #a4a4a4;
    border-radius: 1em;
    margin: 1em;
}

#contenido {
    height: 70%;
    background-color: #EDBB99;
    border-radius: 1em;
    margin: 1em;
}

#aside {
    height: 100%;
    width: 30%;
    background-color: #a4a4a4;
    border-radius: 1em;
    padding: 0.5em;
    float: left;
    position: relative;
}


#aside-2 {
    height: 50%;
    width: 30%;
    background-color: #a4a4a4;
    border-radius: 1em;
    padding: 0.5em;
    float: bottom;

}

#pizarra {
    height: 70%;
    width: 69%;
    background-color: #919291;
    border-radius: 1em;
    float: right;
}

#resultado {

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

    height: 30%;
    width: 69%;
    background-color: #ffffff;
    border-radius: 1em;
    float: right;
    overflow: scroll;
}

#editor {
    border-radius: 1em;
    height: 90%;
    width: 100%;
    float: bottom;
    padding: 0.5em;
}

#result {

    border-radius: 1em;
    height: 80%;
    width: 100%;
    float: bottom;
    padding: 0.5em;
}

#header-dashboard-1 {
    height: 30%;
    background-color: #fcf9f9;
    border-radius: 1em;
    font-size: 20px;
    padding: 0.5em;
}

#header-aside-1 {
    height: 7.5%;
    background-color: #fcf9f9;
    border-radius: 1em;
    font-size: 20px;
    padding: 0.5em;
}


#header-aside-2 {
    height: 7.5%;
    background-color: #fcf9f9;
    border-radius: 1em;
    font-size: 20px;
    padding: 0.5em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

