<p-dialog header="Credenciales inválidas" [(visible)]="display">
  Por favor intenta nuevamente
</p-dialog>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="top-center" key="te"></p-toast>
<p-toast position="top-center" key="td"></p-toast>
<nav class="fondoBarra3 navbar navbar-expand-lg bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://cdn.pixabay.com/photo/2017/09/28/22/43/database-search-2797375_960_720.png"
        alt="..."
        height="75"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
      <h1>Gestor de bases de datos</h1>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-primary static-top"></nav>

<br /><br />

<div class="container">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="formularioComponent()"
  >
    <i
      class="pi pi-database"
      style="font-size: 3rem"
      (click)="formularioComponent()"
    ></i>

    <h5>Crear nueva conexión</h5>
  </button>
</div>

<br /><br />

<div class="container">
  <div class="row">
    <div class="col-md-12 float-end">
      <div class="card">
        <div class="col-md-12">
          <div class="col-md-7">
            <h2 class="float-end">Conexiones realizadas</h2>
          </div>
        </div>

        <h5 class="float-start">Cantidad de Conexiones:</h5>
        <p-table
          [value]="conexiones"
          [paginator]="false"
          [showCurrentPageReport]="false"
          responsiveLayout="scroll"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 15]"
          [scrollable]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Host</th>
              <th>Nombre</th>
              <th>Usuario</th>
              <th>Opciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-c>
            <tr>
              <td>{{ c.ConnectionId }}</td>
              <td>{{ c.Host }}</td>
              <td>{{ c.Name }}</td>
              <td>{{ c.User }}</td>
              <td>
                &nbsp;
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-chevron-circle-right"
                  class="p-button-rounded p-button-primary"
                  (click)="flotanteConectar(c)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
